set relativenumber number

" yank to clipboard
set clipboard+=unnamed 

" set <leader> to <space>
let mapleader = " "

" edit ideavim config
nnoremap <leader>vv :e ~/.ideavimrc<CR>
noremap <leader>vr :source ~/.ideavimrc<CR>

" running & debugging
nmap <leader>ru <Action>(Run)
nmap <leader>de <Action>(Debug)
nmap <leader>sp <Action>(Stop) <Action>(HideActiveWindow)

" refactoring
nmap <leader>rn <Action>(RenameElement)

" window configs
nmap <leader>x <Action>(CloseEditor)
nmap <leader>h <Action>(HideActiveWindow)
nmap <Tab> <Action>(NextTab)
nmap <S-Tab> <Action>(PreviousTab)
nmap <C-l> <Action>(NextSplitter)
nmap <C-h> <Action>(PrevSplitter)
nmap <C-A-l> <Action>(MoveEditorToOppositeTabGroup)
nmap <C-A-h> <Action>(MoveEditorToOppositeTabGroup)

" searching
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fw <Action>(TextSearchAction)
nmap <leader>fa <Action>(SearchEverywhere)

" code formatting
nmap <leader>fm <Action>(ReformatCode)

" utils
vmap <leader>/ <Action>(CommentByLineComment)
nmap <leader>/ <Action>(CommentByLineComment)

" viz
nmap <leader>sm <Action>(ShowIntentionActions)

