* {
    font-family: "TX-02 Variable", "Symbols Nerd Font", monospace;
    /*  TODO: Not sure why this feature settings is not working */
    font-feature-settings: "ss02";  
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.00);
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color: rgba(217, 216, 216, 0.4);  /* #d9d8d8 */
}

#workspaces button.visible {
    color: #d08770;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#mode, #battery, #cpu, #memory, #bluetooth, #network, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-mail, #pulseaudio, #tray {
    margin:     0px 0px 0px 16px;
    padding:    0px 2px;
    min-width:  25px;
    font-size: 18px;
    font-weight: 400
}

#custom-spotify{
    margin: 0px 60px 0px 16px;
    color: #A3BE8C;
}

#network.disconnected {
   color:       #EBCB8B;
}

#custom-vpn{
    color: #B48EAD;
    font-size: 12px;
    font-weight: 800
}

#battery.charging:not(.full) {
    color:      #A3BE8C;
}

#battery.warning {
   color:       #EBCB8B;
}

#battery.critical {
    color:      #BF616A;
}
