* {
    font-family: TX-02-Variable;
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.00);
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color: rgba(217, 216, 216, 0.4);  /* #d9d8d8 */
}

#workspaces button.visible {
    color: #d08770;
}

#mode, #battery, #cpu, #memory, #network, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-mail, #pulseaudio {
    margin:     0px 0px 0px 16px;
    min-width:  25px;
}

#network {
    margin:     0px 12px 0px 16px;
}

#pulseaudio {
    font-size: 18px;
}

#custom-spotify{
    margin: 0px 60px 0px 16px;
    font-size: 18px;
    color: #a3be8c;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
